.classes-list 
    -for(var i=0; i<classes.length; i++){
        a.class(href="/class-view?classID=#{classes[i]._id}") 
            i.fa.icon(class="#{classes[i].icon}")
            .info 
                h1= classes[i].title
                p #{classes[i].decks.length} دسته کارت
    -}