footer 
    .part 
        h1 لینک های مفید
        a(href="#") قیمت ها
        a(href="#") شرایط همکاری
        a(href="#") معلمان و مدارس
        a(href="#") اپلیکیشن موبایل
        a(href="#") راهنما
    .part 
        h1 موضوعات
        a(href="#") دارو و درمان
        a(href="#") وکالت
        a(href="#") زبان های خارجی
        a(href="#") کلاس ها
    .part 
        h1 شرکت
        a(href="#") درباره ما
        a(href="#") کسب درآمد
        a(href="#") آکادمی
        a(href="#") تماس با ما
    .part
        h1 ما را دنبال کنید
        a.store(href="") 
            img(src="/img/android-badge.svg")
        a.store(href="") 
            img(src="/img/apple-badge.svg")
        .socials
            a(href="") 
                i.fa.fa-instagram
            a(href="") 
                i.fa.fa-telegram
            a(href="") 
                i.fa.fa-facebook
            a(href="") 
                i.fa.fa-twitter
            
            
        
    h1.copyright تمامی حقوق این سایت متعلق به پولیا می‌باشد.