.login-popup#login-popup
    i.fa.fa-times.close-login 
    h1.title ورود
    //- a.google(href="#") 
    //-     i.fa.fa-apple
    //-     .text ورود با اپل
    //- a.google(href="#") 
    //-     i.fa.fa-google 
    //-     .text ورود با گوگل
    //- .br-line 
    //-     .text یا
    form(action="/users/login" method="POST") 
        .text-input
            input#email-input(type="text" name="email")
            .label#email-label ایمیل
        .text-input 
            input#pass-input(type="password" name="password")
            .label#pass-label کلمه عبور
        input.submit(type="submit" value="ورود")
    a.link(href="#") رمز عبور را فراموش کرده‌اید؟
    a.link#register-btn ساخت حساب جدید؟

.register-popup#register-popup
    .column30 
        img.logo(src="/img/logo.png")
        h1 شروع یادگیری سریعتر
        ul 
            li
                span یادگیری هر مطلبی در نصف زمان معمولی با استفاده از دانش شناخت
            li
                span ساخت فلشکارت های اختصاصی
            li
                span جستجو در بین میلیون ها کارت آماده
            li
                span استفاده همزمان در اپلیکیشن موبایل
    .column70
        i.fa.fa-times.close-register
        h1.title شروع کنید
        //- a.google(href="#") 
        //-     i.fa.fa-apple
        //-     .text ورود با اپل
        //- a.google(href="#") 
        //-     i.fa.fa-google 
        //-     .text ورود با گوگل
        //- .br-line 
            //- .text یا
        form(action="/users/register" method="POST") 
            .two-text-input
                .text-input
                    .label نام:
                    input(type="text" name="firstName" required)
                .text-input 
                    .label نام خانوادگی:
                    input(type="text" name="lastName" required)
            .text-input
                .label#email-label ایمیل:
                input#email-input(type="text" name="email" required)
            .text-input
                .label#pass-label کلمه عبور:
                input#pass-input(type="password" name="password" required)
            .text-input
                .label#pass-label تایید کلمه عبور:
                input#pass-input(type="password" name="confirm" required)
            .check-input
                input.check(type="checkbox" name="accept" id="accept" required)
                label(for="accept")
                    a(href="#") قوانین 
                    | را می‌پذیرم 
                input.submit(type="submit" value="ثبت نام")
        a.link#login-btn2 قبلا ثبت نام کرده‌اید؟
