nav 
    .logoarea 
        a(href="/")  
            img(src="/img/logo.png", alt="logo")
        //- h1 Cartan
    -if(user){
        a.nav-link.orange(href="/pricing")  پنل حرفه‌ای
        a.nav-link.normal.small(href="/dashboard") 
            i.fa.fa-user.user-icon
    -}else{
        a.nav-link.orange#register-btn2 شروع کنید
        a.nav-link.normal#login-btn ورود
    -}
    a.nav-link.normal(href="#") آکادمی
    a.nav-link.normal(href="#") مربیان
    a.nav-link.normal(href="/users/register") ساخت فلش کارت
    a.nav-link.dropdown(href="/search") 
        i.fa.fa-search
        | یافتن فلش کارت
        i.fa.fa-chevron-down