nav 
    .logoarea 
        img(src="/img/logo.png", alt="logo")
        //- h1 polya
    a.nav-link.orange(href="#") شروع کنید
    a.nav-link.normal(href="#") ورود
    a.nav-link.normal(href="#") آکادمی
    a.nav-link.normal(href="#") مربیان
    a.nav-link.normal(href="#") ساخت فلش کارت
    a.nav-link.dropdown(href="#") 
        i.fa.fa-chevron-down
        | یافتن فلش کارت
        i.fa.fa-search