form.search-area(action="/search" method="POST") 
    i.fa.fa-search 
    input(type="text" name="text" placeholder="مثال: ریاضی، فیزیک، معادلات، ..." value="#{typeof(text) != 'undefined' ? text : ''}")
