#setting
    a(href="/dashboard/") 
        i.fa.fa-user 
        | داشبورد
    a(href="/dashboard/settings") 
        i.fa.fa-gear 
        | تنظیمات
    a.red(href="/users/logout") 
        i.fa.fa-sign-out 
        | خروج