doctype html

html
    head
        title Cartan
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#050507")
        link(rel='stylesheet', href='/css/home.css')
        link(rel='stylesheet', href='/css/components/nav.css')
        link(rel='stylesheet', href='/css/components/footer.css')
        link(rel='stylesheet', href='/css/components/login.css')
        
    body
        .transparent-modal
        .black-modal
        include components/navbar
        
        header 
            img(src="/img/home/img-03.jpeg")
            .dark-overlay
            .info 
                h1 مهارت
                h1 خود را افزایش دهید.
                h2 فلش کارت ها برای یادگیری حرفه‌ای
                a.button.blue-button(href="/search") یافتن فلش کارت 
                a.button(href="/users/register") ساختن فلش کارت 
                a.video-link(href="#") 
                    i.fa.fa-play
                    | مشاهده ویدئو
            .control 
                i.fa.fa-circle.active
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
        
        section.light
            .mockup
                .column.col70.info
                    h1 نقاط ضعف 
                    h1 خودت رو هدف قرار بده
                    p کارتان به شما کمک می‌کند تا با تکرار و تمرین با استفاده از فلشکارت‌ها یادگیری بهتری داشته باشید. با فلشکارت ها سریعتر یاد بگیرید.
                    a.button(href="/search")  مشاهده فلشکارت‌ها
                .column.col30.img
                    img(src="/img/home/mockup.png") 
        section.dark 
            .statistics
                .column.col70.info 
                    h1 بهترین نرم‌افزار یادگیری
                    h1 با فلشکارت در جهان
                    h2 
                        i.fa.fa-tv
                        i.fa.fa-mobile-phone
                        | برای همه پلتفرم ها
                .column.col30
                    .item 
                        i.fa.fa-vcard-o
                        h1 فلشکارت‌های بهتر بسازید
                    .item 
                        i.fa.fa-check-circle-o
                        h1 همزمان در چند دستگاه
                    .item 
                        i.fa.fa-slideshare
                        h1 اشتراک گذاری کارت‌ها
                    .item 
                        i.fa.fa-check-square-o
                        h1 اعتماد به فلشکارت‌ها
                    .item 
                        i.fa.fa-graduation-cap
                        h1 یادگیری بهتر
        section.light 
            .card-content
                h1.title هزاران موضوع آموزشی
                h2.title 
                    i.fa.fa-star 
                    | پر مخاطب ترین مطالب
                .cards-view
                    a(href="#") 
                        .card
                            img(src="/img/home/sample.png", alt="")
                            h1 نمونه
                    a(href="#") 
                        .card
                            img(src="/img/home/sample2.png", alt="")
                            h1 نمونه
                    a(href="#") 
                        .card
                            img(src="/img/home/sample3.png", alt="")
                            h1 نمونه
                    a(href="#") 
                        .card
                            img(src="/img/home/sample.png", alt="")
                            h1 نمونه
                    a(href="#") 
                        .card
                            img(src="/img/home/sample2.png", alt="")
                            h1 نمونه
        section.light 
            .pricing
                .column.col50.blue-col
                    h1.title امکانات رایگان
                    .price 0 تومان/ماه
                    .item
                        h1 یافتن فلشکارت‌ها
                        p دسترسی به هزاران کلاس طراحی شده توسط معلمان، توسعه گران و دانش‌آموزان.
                    .item
                        h1 ساخت فلشکارت‌ها
                        p استفاده از ابزارات ساده طراحی فلشکارت هم در نسخه وب و هم در اپلیکیشن.
                    .item
                        h1 یادگیری با تکرار و تمرین
                        p با استفاده از امکانات کارتان دوبرابر سریعتر یاد بگیرید.
                    .item
                        h1 مشاهده میزان پیشرفت
                        p میزان یادگیری خود را مشاهده کنید و اعتماد به نفس خود را افزایش دهید.
                    .item
                        h1 همزمان در چند دستگاه
                        p تمام فلشکارت‌ها و متریک ها در وب سایت و اپلیکیشن همزمان قابل دسترسی هستند.
                .column.col50.red-col
                    h1.title امکانات حرفه‌ای
                    .price #{dateConvert.showPrice(Math.floor(prices.month/10))} هزار تومان/ماه
                    .item
                        h1 کارت های نامحدود
                        p بدون محدودیت روزانه استفاده از فلشکارت ها
                    .item
                        h1 آپلود عکس و صدا
                        p عکس ها و صداها به یادگیری بهتر کمک می‌کنند.
                    .item
                        h1 کپی کردن فلشکارت‌ها
                        p کلاس های خود را با استفاده از فلشکارت‌های موجود بسازید.
                    .item
                        h1 نشانه گذاری فلشکارت‌ها
                        p کارت های مهم را نشانه گذاری کنید تا بعدا با معلم یا دوست خود مطالعه کنید.
                    .item
                        h1 کلاس خصوصی تعریف کنید
                        p دسترسی کلاس‌ها را خودتان تایین کنید.
                    .item
                        h1 مشاهده وضعیت دانش آموزان
                        p مشاهده میزان مطالعه دانش آموزان و رتبه دهی با کارت یا درصد.                  
        section.dark 
            .bottom-image
                img(src="/img/home/img-07.jpg")
                .dark-overlay 
                .info
                    h1 فکر کن
                    h1 یاد بگیر
                    h1 موفق شو
                    p با کارتان یک ماجراجویی در یادگیری تجربه کنید.
        
        include components/login
        include components/footer
        script(src="/js/login.js") 