extends layout
block styles
    link(rel="stylesheet", href="/css/pricing.css")

block content
    .pricing-content
        h1.title سریع تر یاد بگیرید
        p.text این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. 
        .cards-view
            a.card(href="#") 
                h1 ماهیانه
                .price 100.000 
                    .currency تومان 
                p 100.000 تومان هر 1 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="#") 
                h1 ترمی
                .price 100.000 
                    .currency تومان 
                p 100.000 تومان هر 6 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="#") 
                h1 سالیانه
                .price 100.000 
                    .currency تومان 
                p 100.000 تومان هر 12 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="#") 
                h1 همیشگی
                .price 100.000 
                    .currency تومان 
                p یک بار پرداخت
                .upgrade ارتقا به پنل حرفه ای
        h1.title قابلیت های نسخه حرفه ای
        .features-view
            ul.column 
                li کارت های نامحدود
                li آپلود عکس و صدا
                li کپی کردن فلشکارت‌ها
            ul.column 
                li نشانه گذاری فلشکارت‌ها
                li کلاس خصوصی تعریف کنید
                li مشاهده وضعیت دانش آموزان
            
                
    script(src="/js/users.js")