/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}
:root {
    --dark-background: #324054;
    --light-background: white;
    --dark: #181b2c;
    --darkblue: #2781aa;
    --blue: #28A5DC;
    --lightgray: #CACFD6;
    --orange: #FF8A47;
    --purple: #AA0080;
    --green: #00DB68;
    --lightblue: #C8EBFE;
    --lightergray: #EAF2F6;
    --grayblue: #9CB0C4;
    --gray: #848C98;
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: white;
}
body::-webkit-scrollbar {width: 0.5vw;}
body::-webkit-scrollbar-track {background: var(--gray);}
body::-webkit-scrollbar-thumb {background: var(--dark);}
body::-webkit-scrollbar-thumb:hover{background: var(--blue);}
.black-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.dashboard{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 800px) {
    .dashboard .side-bar{
        background-color: var(--dark-background);
        position: fixed;
        height: 100vh;
        margin: 0;
        width: 25%;
        overflow: hidden;
    }
    .dashboard .content-area{
        background-color: var(--light-background);
        margin: 0;
        overflow: hidden;
        width: 75%;
        margin-right: 25%;
        min-height: 100vh;
    }
    .dashboard .content-area .message-area{
        margin: 0;
        padding: 0;
    }
    .dashboard .content-area .message-area .success-msg{
        background-color: greenyellow;
        border-radius: 1vw;
        width: 85%;
        margin: 1vw auto;
        padding: 0.3vw 1vw;
        position: relative;
    }
    .dashboard .content-area .message-area .notif-msg{
        background-color: salmon;
        border-radius: 1vw;
        width: 85%;
        margin: 1vw auto;
        padding: 0.3vw 1vw;
        position: relative;
    }
    .dashboard .content-area .message-area i.close-success-msg, .dashboard .content-area .message-area i.close-notif-msg{
        position: absolute;
        left: 1vw;
        top: 1vw;
        color: var(--brown);
        cursor: pointer;
    }
    .dashboard .content-area .message-area i.close-success-msg:hover, .dashboard .content-area .message-area i.close-notif-msg:hover{
        color: var(--red);
    }
    .dashboard .side-bar a.settings{
        position: absolute;
        top: 2vw;
        left: 2vw;
        color: var(--gray);
        font-size: 2vw;
        text-decoration: none;
    }
    .dashboard .side-bar a.settings:hover{color: var(--blue);}
    .dashboard .side-bar a.logo{
        position: absolute;
        top: 2.5vw;
        right: 2vw;
        color: var(--gray);
        font-size: 2vw;
        text-decoration: none;
    }
    .dashboard .side-bar a.logo img{
        width: 3vw;
    }
    .dashboard .side-bar .user-info{
        text-align: center;
        margin-top: 2vw;
    }
    .dashboard .side-bar .user-info img.avatar{
        width: 5vw;
    }
    .dashboard .side-bar .user-info h1.name{
        font-family: 'iransans';
        font-size: 1.1vw;
        color: var(--lightergray);
        font-weight: normal;
        margin-bottom: 0;
    }
    .dashboard .side-bar .user-info .statistics{
        font-family: 'iransans';
        font-size: 0.9vw;
        color: var(--gray);
        font-weight: normal;
        margin: 0;
    }
    .dashboard .side-bar .scroll-view {
        /* background-color: lightblue; */
        max-height: 60vh;
        overflow-y: scroll;
        padding: 0 2vw;
        margin-top: 1vw;
    }
    .dashboard .side-bar .scroll-view::-webkit-scrollbar {width: 0.5vw;}
    .dashboard .side-bar .scroll-view::-webkit-scrollbar-track {background: var(--gray);}
    .dashboard .side-bar .scroll-view::-webkit-scrollbar-thumb {background: var(--dark);}
    .dashboard .side-bar .scroll-view::-webkit-scrollbar-thumb:hover{background: var(--blue);}
    .dashboard .side-bar .scroll-view .list{
        margin-bottom: 2vw;
        position: relative;
    }
    .dashboard .side-bar .scroll-view .list h1.title{
        color: var(--lightgray);
        font-family: 'iransans';
        font-size: 1.2vw;
        font-weight: normal;
        border-bottom: var(--gray) 0.05vw solid;
        padding-bottom: 1vw;
        margin-bottom: 1vw;
    }
    .dashboard .side-bar .scroll-view i.search{
        position: absolute;
        color: var(--lightgray);
        font-size: 1.5vw;
        top: 0.2vw;
        left: 0;
        cursor: pointer;
    }
    .dashboard .side-bar .scroll-view i.search:hover{
        color: var(--blue);
    }
    .dashboard .side-bar .scroll-view i.plus{
        position: absolute;
        color: var(--lightgray);
        font-size: 1.5vw;
        top: 0.2vw;
        left: 2vw;
        cursor: pointer;
    }
    .dashboard .side-bar .scroll-view i.plus:hover{color: var(--blue);}
    .dashboard .side-bar .scroll-view .list .list-content{
        /* background-color: lightblue; */
        overflow: hidden;
        height: 3.5vw;
        margin-bottom: 1vw;
        cursor: pointer;
    }
    .dashboard .side-bar .scroll-view .list .list-content .active-bar{
        float: right;
        height: 3.5vw;
        width: 0.5vw;
        background-color: transparent;
        /* border-radius: 0.2vw; */
    }
    .dashboard .side-bar .scroll-view .list .list-content:hover .active-bar{
        background-color: var(--gray);
    }
    .dashboard .side-bar .scroll-view .list .list-content.active .active-bar{
        background-color: white;
    }
    .dashboard .side-bar .scroll-view .list .list-content i.icon{
        float: right;
        margin-right: 1vw;
        font-size: 2.5vw;
        background-color: var(--lightergray);
        padding: 0.5vw 0;
        width: 3.5vw;
        text-align: center;
        color: var(--darkblue);
        /* border-radius: 0.5vw; */
    }
    .dashboard .side-bar .scroll-view .list .list-content i.icon.green{background-color: var(--green); color: white;}
    .dashboard .side-bar .scroll-view .list .list-content i.icon.blue {background-color: var(--blue ); color: white;}
    .dashboard .side-bar .scroll-view .list .list-content .info{
        float: right;
        margin-right: 1vw;
    }
    .dashboard .side-bar .scroll-view .list .list-content .info h1{
        margin: 0;
        color: var(--lightgray);
        font-size: 1.1vw;
        font-weight: normal;
        margin-bottom: 0.5vw;
    }
    .dashboard .side-bar .scroll-view .list .list-content .info h1.single{margin-top: 0.8vw;}
    .dashboard .side-bar .scroll-view .list .list-content.active .info h1{color: white;}
    .dashboard .side-bar .scroll-view .list .list-content:hover .info h1{color: white;}
    .dashboard .side-bar .scroll-view .list .list-content .info .progress-bar{
        background-color: var(--gray);
        width: 13vw;
        height: 0.5vw;
    }
    .dashboard .side-bar .scroll-view .list .list-content .info .progress-bar .passed{
        background-color: var(--blue);
        height: 0.5vw;
    }
    .dashboard .side-bar .scroll-view .list a.link{
        color: var(--gray);
        text-decoration: none;
        overflow: hidden;
        display: block;
        margin-bottom: 0.5vw;
        padding: 0 1.5vw;
    }
    .dashboard .side-bar .scroll-view .list a.link:hover{color: white;}
    .dashboard .side-bar .scroll-view .list a.link i{
        font-size: 1.5vw;
        float: right;
        width: 4vw;
        text-align: center;
        padding-top: 0.2vw;
    }
    .dashboard .side-bar .scroll-view .list a.link .text{
        float: right;
        margin-right: 0.5vw;
        font-size: 1vw;
    }
    .dashboard .side-bar a.upgrade{
        color: white;
        display: block;
        width: fit-content;
        margin: 2vw auto;
        text-decoration: none;
        background-color: var(--blue);
        padding: 0.4vw 3vw;
        font-family: 'iransans';
        font-size: 1.3vw;
        border-radius: 2vw;
    }
    .dashboard .side-bar a.upgrade:hover{
        background-color: var(--orange);
    }
    
}

@media only screen and (max-width: 800px) {
    
}
