@media only screen and (min-width: 800px) {
    .edit-deck{
        width: 85%;
        margin: 3vw auto;
    }
    .edit-deck h1.title{
        color: var(--blue);
        margin: 0;
        font-family: 'iransans';
        font-size: 1.8vw;
    }
    .edit-deck table{
        text-align: right;
        width: 100%;
        margin-top: 3vw;
    }
    .edit-deck table th{
        color: var(--text);
        padding: 0.4vw 0;
        border-bottom: var(--gray) 0.2vw solid;
    }
    .edit-deck table td{
        padding: 0.5vw 0;
        border-bottom: var(--lightgray) 0.1vw solid;
    }
    .edit-deck table i.delete{
        color: red;
        font-size: 1.4vw;
        cursor: pointer;
        padding: 0.2vw 0.4vw;
        border-radius: 50%;
    }
    .edit-deck table i.change-to-picture, .edit-deck table i.change-to-text{
        color: var(--blue);
        font-size: 1.4vw;
        cursor: pointer;
        padding: 0.2vw 0.4vw;
        border-radius: 50%;
    }
    .edit-deck table i.change-to-picture:hover, .edit-deck table i.change-to-text:hover{
        color: var(--orange);
    }
    .edit-deck table i.delete:hover{
        background-color: red;
        color: white;
    }
    .edit-deck table textarea{
        width: 90%;
        padding: 0.6vw 1vw;
        font-family: 'iransans';
        font-size: 1vw;
        border: var(--lightgray) 0.1vw solid;
        border-radius: 0.5vw;
        resize: vertical;
        height: 2vw;
    }
    .edit-deck table textarea:focus{
        outline: none;
        border: var(--blue) 0.1vw solid;
    }
    .edit-deck button.submit{
        background-color: var(--blue);
        font-family: 'iransans';
        font-size: 1.2vw;
        color: white;
        padding: 0.5vw 3vw;
        border-radius: 1vw;
        cursor: pointer;
        border: none;
        margin-top: 3vw;
    }
    .edit-deck button.submit:hover{
        background-color: var(--orange);
    }
    .edit-deck button.submit i{
        padding: 0 0.5vw;
    }
    #add-flashcard {
        margin-right: 1vw;
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.3vw;
        padding: 0.5vw 0;
        cursor: pointer;
    }
    #add-flashcard:hover{
        color: var(--orange);
    }
    #add-flashcard i{
        padding: 0 0.5vw;
    }
    .edit-deck table td img.preview{
        height: 6vw;
    }

}
@media only screen and (max-width: 800px) {
    
}






